@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Button Background */
  --bg-button: rgb(17, 17, 17);
  --bg-create: rgb(42, 196, 42);
  --bg-navbar: #FFFFFF;
  --bg-buildSection: #111827;
  /* Font Family */
  --ff-inter:'Inter', sans-serif;
  --ff-rockwell:Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  user-select: none;
}
#root {
  @apply md:h-screen h-auto;
}
html {
  height:100%;
  width:100%;
}
body {
  font-family:var(--ff-inter);
  @apply bg-white;
}

/* Fonts */
.inter {
  font-family:var(--ff-inter);
}
.rockwell {
  font-family:var(--ff-rockwell);
}

/* Center Container with max width */
.content {
  @apply flex justify-center;
}
.max-content {
  @apply max-w-7xl w-full;
}

/* Auth Design */
.auth-container {
  @apply grid grid-cols-2 justify-items-center items-center;
}
.auth-logo {
  @apply w-4/5 h-4/5 object-center;
}
.auth-input {
  @apply p-3 border border-gray-400 rounded-md outline-none;
}
.auth-form {
  @apply flex flex-col gap-3 w-1/2;
}
.auth-button {
  background:var(--bg-button);
  @apply p-3 rounded-md w-full text-gray-100 font-semibold;
}
.auth-forgot {
  @apply text-xs text-blue-500 text-center;
}
.auth-create {
  background:var(--bg-create);
  @apply text-gray-100 p-2 w-full rounded-md text-center;
}
.auth-view {
  @apply text-sm text-blue-500 text-center cursor-pointer;
}

/* Signup box */
.signup-bg {
  background: url('../assets/black-wp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signup-container {
  @apply flex flex-col justify-center items-center;
}
.signup-title {
  @apply text-4xl w-1/2 select-none;
}
.signup-box {
  @apply bg-white w-1/2 h-auto p-10 shadow-xl rounded-lg mt-5; 
}
.admin-signup {
  @apply flex flex-col justify-center items-center gap-3 h-full;
}
.admin-auth {
  @apply w-1/2 border border-gray-400 p-3 rounded-md outline-none;
}
.signup-privacy-policy {
  @apply text-sm text-justify w-1/2 select-none;
}
.signup-btn {
  background: var(--bg-create);
  @apply text-gray-100 p-2 rounded-md w-1/2 self-center font-semibold;
}
.signup-success {
  color: rgb(16, 156, 16);
  @apply w-1/2 text-lg select-none; 
}
.pass-error,.username-error,.error {
  @apply text-red-500 font-bold text-xs w-1/2
}
.user-auth { 
  @apply w-full border border-gray-400 p-2 rounded-md outline-none;
}
.signup-btn-user {
  background:var(--bg-create);
  @apply text-gray-100 p-2 rounded-md w-full font-semibold;
}

/* Verify Page */
.verify-input {
  @apply outline-none w-14 h-14 text-2xl text-center font-bold border-gray-300 border;
}

/* Error page */
.error-title {
  font-size:160px;
}
.error-button {
  background: var(--bg-button);
  @apply text-lg text-gray-100 w-1/2 p-2 rounded-md mt-5
}
/* Navbar */
.navbar {
  @apply p-2 z-50 hidden md:flex;
}
.navbar-logo {
  @apply invert w-32 h-20 object-cover;
}
/* Home */
/* .header-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../assets/banner.jpg');
  @apply h-full bg-center bg-cover bg-fixed flex justify-center;
} */
.hero__items {
  width:50%;
}
.hero--item1 {
  width:70%;
}
.hero--item2 {
  width:70%;
}
.hero--item3 {
  width:70%;  
}

.build-bg {
  background: var(--bg-buildSection);
}
.build-banner {
  background: url('../assets/build.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
}
/* Footer */
.footer-bg {
  background: #2e2c2c;
  @apply h-96;
}
/* Customize Page */
.customize-bg {
  background: url('../assets/blackbg.jpg');
  @apply h-auto bg-no-repeat bg-center bg-cover bg-fixed;
}
/* Contact */
.contact-bg {
  background-image: url('../assets/contact-bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height:100vh;
}
/* Bicycle Animation loader */
.centerBike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 26px;
  margin-left: -12px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#loop {
  height: 100px;
  width: 100px;
  border: #bb5f27 solid 4px;
  border-radius: 200px;
}

#loop:before {
  background: linear-gradient(to left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
  content: "";
  display: block;
  height: 4px;
  left: -100px;
  position: relative;
  top: 100px;
  width: 300px;
}

#bike-wrapper {
  height: 108px;
  width: 108px;
  animation: drive 3s linear infinite;
}

#bike {
  height: 24px;
  width: 25px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133687/motorbike.png");
}

@keyframes drive {
  0% {
    margin-left: -364px;
    opacity: 0;
  }
  33.33% {
    transform: rotate(0deg);
    margin-left: -50px;
    opacity: 1;
  }
  66.66% {
    transform: rotate(-360deg);
    margin-left: -50px;
    opacity: 1;
  }
  100% {
    margin-left: 264px;
    transform: rotate(-360deg);
    opacity: 0;
  }
}
/* Bike animation loader */